<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Titlulo</h4>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-primary progress-bar-striped active"
                        style="height:15px;"
                        [style.width]="getProgress1"
                        role="progressbar">
                    </div>
                </div>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-info progress-bar-striped active"
                        style="height:15px;"
                        [style.width]="getProgress2"
                        role="progressbar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">

            <div class="card-body">
                <app-increasing [progress]="progress1" (changePorcentEvent)="progress1 = $event"></app-increasing>
            </div>

        </div>
    </div>
    <div class="col-6">
        <div class="card">

            <div class="card-body">
                <app-increasing [progress]="progress2" [increaseBtnClass]="'btn-info'" (changePorcentEvent)="progress2 = $event"></app-increasing>
            </div>

        </div>
    </div>
</div>
